@import url('http://fonts.googleapis.com/css?family=Open+Sans');
@import url('http://fonts.googleapis.com/css?family=Classic+Comic');
@import url('http://fonts.googleapis.com/css?family=Bangers');

body {
  font-family: 'Bangers', 'Open Sans', 'Helvetica';
  background: url('../img/left-banner.gif') repeat-y center left fixed, url('../img/right-banner.gif') repeat-y center right fixed;
  background-size: 20% auto, 20% auto;
}

h1, h2, h3, h4 {
  font-family: 'Bangers', 'Open Sans', 'Helvetica';
}

.top-bar-section ul li > a{
  font-family: 'Bangers', 'Open Sans', 'Helvetica';
}

#main-comic {
  padding: 0 0 70px 0;
}

#main-comic img {
  text-align: center;
}

.share-button {
  text-align: center;
}

iframe[id^='twitter-widget-'] {
  width: 100% !important;
}

.timeline {
  border-radius: 0 !important;
}

.fb-like-box iframe {
  width: 100% !important;
  height: 100%! important;
  z-index: 1;
}

.no-pad-right {
  padding-right: 0;
}

.toon-admin-header {
  min-height: 40px;
}

.centered{
  text-align: center;
}

.sidebar {
  height: 100% important;
  overflow: hidden;
}

.secondary-btn{
  background: #333;
}

footer {
  z-index: 999;
}

#container .item {
  width: 25%;
}

#container .item.w2 {
  width: 50%;
}

.custom-panel {
  @include panel(
    // Sets the panel background color. Default: $panel-pg
  $bg:#cccccc,
    // Sets the panel padding amount. Default: $panel-padding
//  $padding:5px,
    // Sets the font color based on the darkness of the bg & resets header line-heights for panels. Default: $panel-header-adjust
  $adjust:true
  );
  border-radius: 5px;
  text-align: center;
}