@import url('http://fonts.googleapis.com/css?family=Open+Sans');
@import url('http://fonts.googleapis.com/css?family=Classic+Comic');

h1, h2, h3{
  font-family: 'Open Sans', 'Helvetica';
}
#main-comic {
  padding: 0 0 70px 0;
}

#main-comic img{
  text-align: center;
}

.share-button {
  text-align: center;
}

iframe[id^='twitter-widget-']{
  width:100% !important;
}

.fb-like-box iframe {
  width: 100% !important;
  height: 1000px !important;
}

body {
  background: url('../img/comics/cool-car-backgrounds.jpg') no-repeat top left,
  url(../img/comics/images.jpg) no-repeat top right;
}