@media (max-width: 700px) {
  body {
    background: none;
  }
  .main {
    text-align: center;
  }
  .comic-nav{
    text-align: center !important;
  }
}

@media (min-width: 700px) {
  .at4-follow-container {
    display: none;
  }
}