// Small screens
@media only screen and (max-width: 40em) {
}

/* max-width 640px, mobile-only styles, use when QAing mobile issues */

// Medium screens
@media only screen and (max-width: 64em) {
  body {
    background: none;
  }
  .main {
    text-align: center;
    padding-top: 60px;
  }
  .comic-nav {
    text-align: center !important;
  }
  .responsive-button {
    @include button($button-sml, $primary-color, 0px, false, false, false);
  }
  .addthis_sharing_toolbox {
    display: none;
  }
}

@media only screen and (min-width: 40.063em) and (max-width: 64em) {
  .at4-follow-container {
    display: none;
  }
  #at4m-dock, .at4m-dock-toggle, #at4m-menu {
    display: none;
  }
}

/* min-width 641px and max-width 1024px, use when QAing tablet-only issues */

// Large screens
@media only screen and (min-width: 64.063em) {
  .at4-follow-container {
    display: none;
  }

  #at4m-dock, .at4m-dock-toggle, #at4m-menu {
    display: none;
  }
}

/* min-width 1025px, large screens */