Options +FollowSymLinks -MultiViews
RewriteEngine On
RewriteBase /

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d

RewriteRule ^api/(.*)$ /api/api.php?request=$1 [L,QSA,NC]

RewriteCond %{REQUEST_URI} !^/api$

RewriteRule ^([a-zA-Z0-9]+)$ index.php?page=$1
RewriteRule ^([a-zA-Z0-9]+)/$ index.php?page=$1

RewriteRule ^([a-z0-9_-]+)/([a-z0-9_-]+)(/)?$ index.php?page=$1&param=$2
RewriteRule ^([a-z0-9_-]+)/([a-z0-9_-]+)(/)?/$ index.php?page=$1&param=$2

RewriteRule ^([a-z0-9_-]+)/([a-z0-9_-]+)/([a-z0-9_-]+)(/)?$ index.php?page=$1&param=$2&param1=$3
RewriteRule ^([a-z0-9_-]+)/([a-z0-9_-]+)/([a-z0-9_-]+)(/)?/$ index.php?page=$1&param=$2&param1=$3