{% extends "@admin/base.html" %}

{% block title %}Index{% endblock %}
{% block head %}
{{ parent() }}
{% endblock %}
{% block content %}

<div class="row">
    <form method="post" action="">
        <div class="row collapse">
            <div class="small-5 large-3 columns">
                <span class="prefix">http://youtu.be/</span>
            </div>
            <div class="small-7 large-9 columns">
                <input type="text" placeholder="Enter your URL..." name="url" required="true">
            </div>
        </div>
        <div class="row">
            <div class="large-12 columns">
                <div class="row collapse">
                    <div class="small-12 columns">
                        <input type="text" placeholder="Title" name="title" required="true">
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="large-12 columns">
                <div class="row collapse">
                    <div class="small-12 columns">
                        <input type="date" placeholder="Release Date" name="release_date" required="true">
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="large-12 columns">
                <label>
                    <input type="submit" class="button" value="Save"/>
                </label>
            </div>
        </div>
    </form>

</div>

{% endblock %}