{% extends "@admin/base.html" %}

{% block title %}Index{% endblock %}
{% block head %}
{{ parent() }}
{% endblock %}
{% block content %}

<div class="row">
    <h2><i class="fa fa-plus-circle"></i>&nbsp; Add Comic</h2>
    <form method="post" enctype="multipart/form-data" >
        <div class="row">
            <div class="large-10 columns">
                <label>
                    <input type="text" name="title" placeholder="Title" required="true"/>
                </label>
            </div>
        </div>
        <div class="row">
            <div class="large-5 columns">
                <label>Comic
                    <input type="file" class="" name="comic" placeholder="" required="true"/>
                </label>

                <label>Release Date
                    <input type="date" name="release_date" placeholder="" required="true"/>
                </label>
            </div>
        </div>
        <div class="row">
            <div class="large-10 columns">
                <label>
                    <input type="submit" class="button" value="Save"/>
                </label>
            </div>
        </div>
    </form>

</div>

{% endblock %}