{% extends "@admin/base.html" %}

{% block title %}Index{% endblock %}
{% block head %}
{{ parent() }}
{% endblock %}
{% block content %}

<div class="row">
    <h2>Add </h2>
    <img id="thumb" width="100px" height="100px" src="http://placehold.it/500x500&text=Comic">
    <form>
        <div class="row">
            <div class="large-12 columns">
                <label>Title
                    <input type="text" name="title" placeholder="" />
                </label>
            </div>
        </div>
        <div class="row">
            <div class="large-6 columns">
                <label>Input Label
                    <input type="file" name="comic" placeholder="" />
                </label>
            </div>
            <div class="large-6 columns">
                <label>Release Date
                    <input type="date" name="release_date" placeholder="" />
                </label>
            </div>
        </div>
        <div class="row">
            <div class="large-12 columns">
                <label>
                    <input type="submit" class="button" value="Save"/>
                </label>
            </div>
        </div>
    </form>

</div>

{% endblock %}