<!DOCTYPE html>
<html>
<head>
    {% block head %}
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>{% block title %}{% endblock %} - My Webpage</title>
    <link rel="stylesheet" href="/stylesheets/app.css"/>
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
    <script src="/bower_components/modernizr/modernizr.js"></script>
    <!--[if lt IE 9]>
    <script src="/bower_components/html5shiv/dist/html5shiv.js"></script>
    <![endif]-->
    {% endblock %}
</head>

<body>
<header>
    <div class="contain-to-grid fixed">
        <nav class="top-bar" data-topbar>
            <ul class="title-area">

                <li class="name">
                    <h1>
                        <a href="#">
                            Admin
                        </a>
                    </h1>
                </li>
                <li class="toggle-topbar menu-icon"><a href="#"><span>menu</span></a></li>
            </ul>

            <section class="top-bar-section">

                <ul class="right">
                    <li class="has-dropdown">
                        <a href="#">Comics</a>
                        <ul class="dropdown">
                            <li><a href="/admin/add-comic">Add Comic</a></li>
                            <li class="divider"></li>
                            <li><a href="/admin/comic">View Comics</a></li>
                        </ul>
                    </li>
                    <li class="has-dropdown">
                        <a href="#">Toons</a>
                        <ul class="dropdown">
                            <li><a href="/admin/add-toon">Add Toon</a></li>
                            <li class="divider"></li>
                            <li><a href="/admin/toon">View Toons</a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="/admin/logout" title="log out"><i class="fa fa-power-off"></i></a>
                    </li>
                </ul>

            </section>
        </nav>
    </div>
</header>


<div class="row main">

    <div class="large-4 small-12 columns">

        <div class="hide-for-small panel">
            <img src="/img/icon.png">

            <h3>Welcome {{ user.fullname }}!!</h3>
            <h5 class="subheader">
                With great power comes a shitload of bitches!
            </h5>
        </div>

    </div>


    <div class="large-8 columns">

        {% block content %}{% endblock %}

    </div>
</div>

<script src="/bower_components/jquery/dist/jquery.min.js"></script>
<script src="/bower_components/foundation/js/foundation.min.js"></script>
<script src="/js/ajaxupload.min.js"></script>
<script src="/js/dist/app-admin.min.js"></script>

</body>
</html>