<!DOCTYPE html>
<html>
<head>
    {% block head %}
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>{% block title %}{% endblock %} - My Webpage</title>
    <link rel="stylesheet" href="/stylesheets/app.css"/>
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
    <script src="/bower_components/modernizr/modernizr.js"></script>
    {% endblock %}
</head>
<body>

<header>
    <div class="contain-to-grid">
        <nav class="top-bar" data-topbar role="navigation">
            <ul class="title-area">
                <li class="name">
                    <h1><a href="#">My Site</a></h1>
                </li>
            </ul>
        </nav>
    </div>

</header>

<div id="content">
    {% block content %}{% endblock %}
</div>

<footer>
    <div id="footer">
        {% block footer %}
        <div class="panel">
            <div class="row">
                <div class="medium-6 large-6 columns">My Site © {{ "now"|date("Y") }} . Powered by SpacebarWeb</div>
            </div>
        </div>
        {% endblock %}
    </div>
</footer>

<script src="/bower_components/jquery/dist/jquery.min.js"></script>
<script src="/bower_components/foundation/js/foundation.min.js"></script>
<script src="/js/app.js"></script>

</body>
</html>