<!DOCTYPE html>
<html>
<head>
    {% block head %}
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>{% block title %}{% endblock %} - My Webpage</title>
    <link rel="stylesheet" href="/stylesheets/app.css"/>
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
    <script src="/bower_components/modernizr/modernizr.js"></script>
    {% endblock %}
</head>
<body>

<header class="row">
    <div class="contain-to-grid">
        <nav class="top-bar" data-topbar role="navigation">
            <ul class="title-area">
                <li class="name">
                    <h1>
                        <a href="#">
                            Top Bar Title
                        </a>
                    </h1>
                </li>
                <li class="toggle-topbar menu-icon"><a href="#"><span>menu</span></a></li>
            </ul>
        </nav>
    </div>
</header>

<div class="row">
    <div class="large-12 columns panel offset-by-two">
        <div class="large-6 columns large-centered">
            <h3>Admin Login</h3>
            {% if error %}
                <div data-alert class="alert-box alert">{{ error }}</div>
            {% endif %}
            <form method="post" action="">
                <div class="row">
                    <div class="large-12 columns">
                        <div class="row collapse">
                            <input type="email" placeholder="email" name="email" required="true">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="large-12 columns">
                        <div class="row collapse">
                            <input type="password" placeholder="password" name="password" required="true">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="large-12 columns">
                        <div class="row collapse">
                            <input type="submit" class="button" value="login">
                        </div>
                    </div>
                </div>
            </form>

        </div>
    </div>
</div>

<footer class="row">
    <div class="large-12 columns"><hr/>
        <div class="row">
            {% block footer %}
            <div class="large-6 columns">
                <p>© Lolgh .</p>
            </div>

            <div class="large-6 columns">
                <ul class="inline-list right">
                    <li><a href="#">Link 1</a></li>
                    <li><a href="#">Link 2</a></li>
                    <li><a href="#">Link 3</a></li>
                    <li><a href="#">Link 4</a></li>
                </ul>
            </div>
            {% endblock %}
        </div>
    </div>
</footer>



</body>
</html>