{% extends "@admin/base.html" %}

{% block title %}Index{% endblock %}
{% block head %}
{{ parent() }}
{% endblock %}
{% block content %}

<div class="row">
    <a href="/admin/add-toon" class="button"><i class="fa fa-plus-circle"></i>&nbsp;Add Toon</a>
</div>
<div class="row">
    {% if success %}
    <div data-alert class="alert-box success">{{ success }}</div>
    {% endif %}
    {% for toon in toons %}
    <div class="large-4 small-6 columns">
        <img src="http://placehold.it/500x500&text=Thumbnail">
        <div class="panel">
            <h5 class="toon-admin-header">{{ toon.title }}</h5>
            <p>Release date: {{ toon.releaseDate|date("D M j, Y") }}
            </p>
            <p class="centered"><a href="/admin/toon/del-{{ toon.toonId }}"
                  onClick="return confirm('Are you absolutely sure you want to delete this toon?')"
                    ><i class="fa fa-times-circle fa-2x"></i></a>
            </p>
        </div>
    </div>
    {% endfor %}
</div>


{% endblock %}