<!DOCTYPE html>
<html itemscope itemtype="http://schema.org/CreativeWork">
<head>
    {% block head %}
    <title>{% if pageTitle is defined %}{{ pageTitle }} | {% endif %}LolGH Comics</title>
    <meta charset="utf-8"/>
    <link rel="shortcut icon" href="/img/favicon.ico" type="image/x-icon" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta name="description" content="The LolGH strips are typically random and unordered strips depicting some isolated, stupid and funny events in Ghana, Africa and the world. Just jokes really!!! :)"/>
    <meta name="keywords" content="LolGH, laugh out loud Ghana, Gh, Ghana, comics, funny, accra, africa, laugh everyday, gyimie, jokes, animation, gh toons, wallen, bobo"/>
    <meta property="og:title" content="{{ metadata.ogTitle }}"/>
    <meta property="og:type" content="{{ metadata.ogType }}"/>
    <meta property="og:image" content="{{ metadata.ogImage }}"/>
    <meta property="og:url" content="{{ metadata.ogUrl }}"/>
    <meta property="og:description" content="{{ metadata.ogDescription }}"/>
    <meta name="twitter:card" content="{{ metadata.twitterCard }}">
    <meta name="twitter:url" content="{{ metadata.twitterUrl }}">
    <meta name="twitter:title" content="{{ metadata.twitterTitle }}">
    <meta name="twitter:description" content="{{ metadata.twitterDescription }}">
    <meta name="twitter:image" content="{{ metadata.twitterImage }}">
    <link rel="publisher" href="https://plus.google.com/b/114851120518114779841"/>
    <meta itemprop="name" content="lolgh">
    <meta itemprop="description" content="comics">
    <meta itemprop="image" content="{{ metadata.ogImage }}">

    <link rel="stylesheet" href="/stylesheets/app.css"/>
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
    <script src="/bower_components/modernizr/modernizr.js"></script>

    <!--[if lt IE 9]>
    <script src="/bower_components/html5shiv/dist/html5shiv.js"></script>
    <![endif]-->
    {% endblock %}
</head>
<body>

<!-- GOOGLE ANALYTICS -->
<script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
            m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-55624385-1', 'auto');
    ga('send', 'pageview');

</script>
<!-- END OF GOOGLE ANALYTICS -->

<!-- FACEBOOK LIKES -->
<div id="fb-root"></div>
<script>(function(d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) return;
    js = d.createElement(s); js.id = id;
    js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&appId=152613511526958&version=v2.0";
    fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>
<!-- END OF FACEBOOK LIKES -->


<!-- Download Android app model -->
<div id="download-app-modal" class="reveal-modal centered" data-reveal>
    <h2>Our Android App is here!!!</h2>
    <p>Click button below to download. :)</p>
    <p>
        <a target="_blank" href="https://play.google.com/store/apps/details?id=com.spacebarweb.lolgh"
           class="large primary button" download>Get the Android App!!</a>
        <a href="#" class="custom-close-reveal-modal secondary button">No Thanks</a>
    </p>
    <a class="close-reveal-modal">&#215;</a>
</div>
<!-- End of download modal -->

<div class="mobile off-canvas-wrap" data-offcanvas>
    <div class="inner-wrap">
        <header>
            <div class="fixed">
                <nav class="tab-bar show-for-small">
                    <section class="left-small">
                        <a class="left-off-canvas-toggle menu-icon" href="#"><span></span></a>
                    </section>

                    <section class="middle tab-bar-section">
                        <h1><a href="/"><img src="/img/icon.png" style="width: 30px"/> LolGH</a></h1>
                    </section>
                </nav>
            </div>
        </header>

        <aside class="left-off-canvas-menu">
            <ul class="off-canvas-list">
                <li><label>Menu</label></li>
                {% if page == '' %}
                <li class="active"><a href="/"><i class="fa fa-home fa-fw"></i>&nbsp;Home</a></li>
                {% else %}
                <li><a href="/"><i class="fa fa-home fa-fw"></i>&nbsp;Home</a></li>
                {% endif %}

                {% if page == 'comic' %}
                <li class="active"><a href="/comic"><i class="fa fa-meh-o fa-fw"></i>&nbsp;Comics</a></li>
                {% else %}
                <li><a href="/comic"><i class="fa fa-meh-o fa-fw"></i>&nbsp;Comics</a></li>
                {% endif %}

                {% if page == 'toon' %}
                <li class="active"><a href="/toon"><i class="fa fa-video-camera fa-fw"></i>&nbsp;Toons</a></li>
                {% else %}
                <li><a href="/toon"><i class="fa fa-video-camera fa-fw"></i>&nbsp;Toons</a></li>
                {% endif %}

                {% if page == 'contact' %}
                <li class="active"><a href="/contact"><i class="fa fa-comments-o fa-fw"></i>&nbsp;Contact</a></li>
                {% else %}
                <li><a href="/contact"><i class="fa fa-comments-o fa-fw"></i>&nbsp;Contact</a></li>
                {% endif %}
            </ul>
        </aside>

        <section class="main-section">
            <header>
                <div class="contain-to-grid fixed hide-for-small">
                    <nav class="top-bar" data-topbar role="navigation">
                        <ul class="title-area">
                            <li class="name">
                                <h1><a href="/"><img src="/img/icon.png" style="width: 30px"/> LolGH.com</a></h1>
                            </li>
                        </ul>
                        <section class="top-bar-section"> <!-- Right Nav Section -->
                            <ul class="right">

                                {% if page == '' %}
                                <li class="active"><a href="/"><i class="fa fa-home fa-fw"></i>&nbsp;Home</a></li>
                                {% else %}
                                <li><a href="/"><i class="fa fa-home fa-fw"></i>&nbsp;Home</a></li>
                                {% endif %}

                                {% if page == 'comic' %}
                                <li class="active"><a href="/comic"><i class="fa fa-meh-o fa-fw"></i>&nbsp;Comics</a></li>
                                {% else %}
                                <li><a href="/comic"><i class="fa fa-meh-o fa-fw"></i>&nbsp;Comics</a></li>
                                {% endif %}

                                {% if page == 'toon' %}
                                <li class="active"><a href="/toon"><i class="fa fa-video-camera fa-fw"></i>&nbsp;Toons</a></li>
                                {% else %}
                                <li><a href="/toon"><i class="fa fa-video-camera fa-fw"></i>&nbsp;Toons</a></li>
                                {% endif %}

                                {% if page == 'contact' %}
                                <li class="active"><a href="/contact"><i class="fa fa-comments-o fa-fw"></i>&nbsp;Contact</a></li>
                                {% else %}
                                <li><a href="/contact"><i class="fa fa-comments-o fa-fw"></i>&nbsp;Contact</a></li>
                                {% endif %}

                            </ul>
                        </section>
                    </nav>
                </div>
            </header>

            <div id="content">
                {% block content %}{% endblock %}
            </div>

            <div class="clearfix"></div>

            <footer class="hide-for-small">
                {% block footer %}
                <div class="panel">
                    <div class="row">
                        <div class="medium-6 large-6 small-6 columns">LolGH © {{ "now"|date("Y") }} . Powered by
                            <a href="http://spacebarweb.com" target="_blank"/> SpacebarWeb</div>
                        <div class="medium-6 large-6 small-6 columns">
                            <ul class="inline-list right">
                                <li><a target="_blank" href="https://www.facebook.com/lolgh"><i class="fa fa-facebook fa-lg"></i></a></li>
                                <li><a target="_blank" href="https://twitter.com/Lol_GH"><i class="fa fa-twitter fa-lg"></i></a></li>
                                <li><a target="_blank" href="http://instagram.com/lol_gh_comics"><i class="fa fa-instagram fa-lg"></i></a></li>
                                <li><a target="_blank" href="https://www.youtube.com/user/LOLghTOONS/videos"><i class="fa fa-youtube fa-lg"></i></a></li>
                                <li><a target="_blank" href="https://plus.google.com/b/114851120518114779841/"><i class="fa fa-google-plus fa-lg"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                {% endblock %}
            </footer>

        </section>

        <a class="exit-off-canvas"></a>
    </div><!--/innerWrapp-->
</div><!--/offCanvasWrap-->

<div class="clearfix"></div>

<footer class="show-for-small-only">
    <!-- Go to www.addthis.com/dashboard to customize your tools -->
    <script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-4ffb61bb49045a96" async="async"></script>
</footer>

<script src="/bower_components/jquery/dist/jquery.min.js"></script>
<script src="/bower_components/foundation/js/foundation.min.js"></script>
<script src="/js/jquery.cookie.js"></script>
<script src="/js/jquery.validate.min.js"></script>
<script src="/js/dist/app.min.js"></script>
</body>
</html>