{% extends "@frontend/base.html" %}

{% block title %}Index{% endblock %}
{% block head %}
{{ parent() }}
{% endblock %}
{% block content %}
<div class="row main">
    <div class="small-9 columns">
        <div class="row">
            <div class="small-6 columns">
                <h4>"{{ comic.title }}" posted on {{ comic.releaseDate | date("D d.M.Y") }}</h4>
            </div>
            <div class="small-6 columns no-pad-right">
                <div class="button-bar right">
                    <ul class="button-group ">
                        <li><a href="/comic/{{ first.comicId }}" class="small button {% if prev is empty %} secondary disabled {% endif %}"><i class="fa fa-angle-double-left fa-lg"></i></a></li>
                        <li><a rel="prev" href="/comic/{{ prev.comicId }}" class="small button {% if prev is empty %} secondary disabled {% endif %}"><i class="fa fa-angle-left fa-lg"></i></a></li>
                        <li><a rel="next" href="/comic/{{ next.comicId }}" class="small button {% if next is empty %} secondary disabled {% endif %}"><i class="fa fa-angle-right fa-lg"></i></a></li>
                        <li><a href="/comic/{{ last.comicId }}" class="small button {% if next is empty %} secondary disabled {% endif %}"><i class="fa fa-angle-double-right fa-lg"></i></a></li>
                        <li><a href="/comic/{{ rand.comicId }}" class="small button"><i class="fa fa-refresh"></i></a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="row text-center" id="main-comic">
            <img src="http://lolgh.com/cms/content/lol_gh/{{ comic.url }}"/>
            <!--<img src="http://placehold.it/400x300&text=[img]"/>-->
            <!-- Go to www.addthis.com/dashboard to customize your tools -->
            <div class="addthis_sharing_toolbox"></div>
        </div>
    </div>

    {% include '@frontend/sidebar.html' %}

</div>

<div class="row">
    <div class="large-12 columns">

    </div>
</div>

<!-- Go to www.addthis.com/dashboard to customize your tools -->
<script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-4ffb61bb49045a96"></script>

{% endblock %}