{% extends "@frontend/base.html" %}

{% block title %}Index{% endblock %}
{% block head %}
{{ parent() }}
{% endblock %}
{% block content %}

<div class="row">

    <div class="large-12 columns">

        <div class="row">
            <div class="large-6 columns">
                <h3 class="title">The Squad</h3>
                <div class="content" data-slug="panel2">
                    <ul class="large-block-grid-2">
                        <li><a href="mailto:wallen@lolgh.com"><img src="http://placehold.it/400x400&text=[person]">Wallen</a></li>
                        <li><a href="mailto:bobo@lolgh.com"><img src="http://placehold.it/400x400&text=[person]">Bobizzle</a></li>
                    </ul>
                </div>
            </div>
            <div class="large-6 columns">
                <h3>Get in Touch!</h3>

                <div class="section-container tabs" data-section>
                    <section class="section">
                        <h5 class="title"><a href="#panel1">Just say Wasssoopp!!</a></h5>
                        <div class="content" data-slug="panel1">
                            <form>
                                <div class="row collapse">
                                    <div class="large-2 columns">
                                        <label class="inline">Your Name</label>
                                    </div>
                                    <div class="large-10 columns">
                                        <input type="text" id="yourName" placeholder="Jane Smith">
                                    </div>
                                </div>
                                <div class="row collapse">
                                    <div class="large-2 columns">
                                        <label class="inline"> Your Email</label>
                                    </div>
                                    <div class="large-10 columns">
                                        <input type="text" id="yourEmail" placeholder="jane@smithco.com">
                                    </div>
                                </div>
                                <label>What's up?</label>
                                <textarea rows="4"></textarea>
                                <button type="submit" class="radius button">Submit</button>
                            </form>
                        </div>
                    </section>
                </div>
            </div>
        </div>

    </div>

</div>

{% endblock %}