{% extends "@frontend/base.html" %}

{% block title %}Index{% endblock %}
{% block head %}
{{ parent() }}
{% endblock %}
{% block content %}

<div class="row main">

    <div class="large-12 columns">

        <div class="row">
            <div class="large-6 columns">
                <h3 class="title">The Squad</h3>
                <div class="content" data-slug="panel2">
                    <ul class="large-block-grid-2">
                        <li><a href="mailto:wallen@lolgh.com"><img src="http://placehold.it/400x450&text=[person]">Wallen@lolgh.com</a></li>
                        <li><a href="mailto:bobo@lolgh.com"><img src="http://placehold.it/400x450&text=[person]">Bobo@lolgh.com</a></li>
                    </ul>
                </div>
            </div>
            <div class="large-6 columns">
                <h3>Get in Touch!</h3>

                <div class="section-container tabs" data-section>
                    <section class="section">
                        <div class="content" data-slug="panel1">
                            <form>
                                <div class="row collapse">
                                    <div class="large-12 columns">
                                        <input type="text" id="yourName" placeholder="name [Kwaku Ananse]">
                                    </div>
                                </div>
                                <div class="row collapse">
                                    <div class="large-12 columns">
                                        <input type="text" id="yourEmail" placeholder="email [jack@around-the-fireside.com]">
                                    </div>
                                </div>
                                <textarea rows="4" placeholder="w'aguan?"></textarea>
                                <button type="submit" class="radius button">Submit</button>
                            </form>
                        </div>
                    </section>
                </div>
            </div>
        </div>

    </div>

</div>

{% endblock %}