{% extends "@frontend/base.html" %}

{% block title %}Index{% endblock %}
{% block head %}
{{ parent() }}
{% endblock %}
{% block content %}
<div class="row main">
    <div class="large-9 medium-9 small-12 columns">
        <div class="large-6 columns">
            <h3>Latest Comic!</h3>
            <a href="/comic/{{ recentComic.comicId }}" title="View latest comic"><img src="http://lolgh.com/cms/content/lol_gh/{{ recentComic.url }}"/></a>
        </div>
        <div class="large-6 columns">
            <h3>Latest Toon!</h3>
            <div class="flex-video widescreen vimeo">
                <a href="/toon/{{ recentToon.toonId }}">
                    <img src="http://img.youtube.com/vi/{{ recentToon.url }}/mqdefault.jpg"/>
                    <p>{{ column.title }}</p>
                </a>
            </div>
        </div>
        <div class="clearfix"></div>
        <div class="large-12 columns">
            <h2>Latest Tweets!</h2>
            {% if tweets|length %}
                {% for tweet in tweets %}
                    {% if tweet.text %}
                    <div class="panel">
                        <p><i class="fa fa-twitter fa-4x"></i>{{ tweet.text }}</p>
                    </div>
                    {% endif %}
                {% endfor %}
            {% endif %}
        </div>
    </div>

    {% include '@frontend/sidebar.html' %}

</div>

<!-- Go to www.addthis.com/dashboard to customize your tools -->
<script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-4ffb61bb49045a96"></script>
{% endblock %}