{% extends "@frontend/base.html" %}

{% block title %}Index{% endblock %}
{% block head %}
{{ parent() }}
{% endblock %}

{% block content %}
<div class="row main">
    <div class="large-9 medium-12 small-12 columns">
        <div class="flex-video widescreen vimeo">
            <iframe width="560" height="315" src="//www.youtube.com/embed/{{ toon.url }}" frameborder="0"
                    webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>
        </div>

        <!-- Go to www.addthis.com/dashboard to customize your tools -->
        <div class="row text-center hide-for-small">
            <div class="addthis_sharing_toolbox"></div>
        </div>

        <hr>

        <div class="row">
            <ul class="example-orbit" data-orbit>
                {% if toons|length %}
                    {% for row in toons|batch(3) %}
                        <li>
                            <ul class="small-block-grid-3">
                                {% for column in row %}
                                <li>
                                    <a href="/toon/{{ column.toonId }}">
                                        <img src="http://img.youtube.com/vi/{{ column.url }}/mqdefault.jpg"/>
                                        <p>{{ column.title }}</p>
                                    </a>
                                </li>
                                {% endfor %}
                            </ul>
                        </li>
                    {% endfor %}
                {% endif %}
            </ul>
        </div>
    </div>

    {% include '@frontend/sidebar.html' %}

</div>

<!-- Go to www.addthis.com/dashboard to customize your tools -->
<script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-4ffb61bb49045a96"></script>

{% endblock %}